version: 2.1
jobs:
  lint_and_build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: npm-install
          command: npm ci --production=false
      - run:
          name: eslint
          command: npm run lint
      - run:
          name: build
          command: npm run build